<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstappl">

    <application
        android:allowBackup="true"
        android:icon="@drawable/swap_horiz_white_192x192"
        android:label="Money Exchanger"
        android:roundIcon="@drawable/swap_horiz_white_192x192"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>